<div>
  <div *ngIf="this.loading">
    <div class="full-container">
      <img width="150px" height="150px" src="assets/svg/icon-loading.svg">
    </div>
  </div>
  <div *ngIf="!this.loading" class="card">
    <div class="card-body">
      <div class="card-title">Login</div>
      <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
        <div class="form-group row">
          <div class="col-md-2">
          </div>
          <div class="ccol-form-label col-sm-8">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control" />
            <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
          </div>
          <div class="ccol-form-label col-sm-8">
            <label for="email">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control" />
            <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>